<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
	 <![endif]-->
	 <!--[if (IE 7)&!(IEMobile)]>
	 <html class="no-js lt-ie9 lt-ie8" lang="en">
			<![endif]-->
			<!--[if (IE 8)&!(IEMobile)]>
			<html class="no-js lt-ie9" lang="en">
				 <![endif]-->
				 <!--[if gt IE 8]><!--> 
				 <html class="no-js" lang="en">
						<!--<![endif]-->
						<head>
							<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GJXNKXBC6M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GJXNKXBC6M');
</script>
							 {% include _head.html %}
						</head>
						<body class="page">
							 <style>
									/*********************************
									The list of publication items
									*********************************/
									/* The list of items */
									.biblist { }
									/* The item */
									.biblist li { }
									/* You can define custom styles for plstyle field here. */
									/*************************************
									The box that contain BibTeX code
									*************************************/
									div.noshow { display: none; }
									div.bibtex {
									margin-right: 0%;
									margin-top: 1.2em;
									margin-bottom: 1em;
									border: 1px solid silver;
									padding: 0em 1em;
									background: #ffffee;
									}
									div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}
							 </style>
							 <script type="text/javascript">
									<!--
									// Toggle Display of BibTeX
									function toggleBibtex(articleid) {
											var bib = document.getElementById('bib_'+articleid);
											if (bib) {
													if(bib.className.indexOf('bibtex') != -1) {
															bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
													}
											} else {
													return;
											}
									}
									-->
							 </script>
							 {% include _browser-upgrade.html %}
							 {% include _navigation.html %}
							 {% if page.image.feature %}
							 <div class="image-wrap">
									<img src=
									{% if page.image.feature contains 'http://' %}
									"{{ page.image.feature }}"
									{% elsif page.image.feature contains 'https://' %}
									"{{ page.image.feature }}"
									{% else %}
									"{{ site.url }}/images/{{ page.image.feature }}"
									{% endif %}
									alt="{{ page.title }} feature image">
									{% if page.image.credit %}
									<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
									{% endif %}
							 </div>
							 <!-- /.image-wrap -->
							 {% endif %}
							 <div id="main" role="main">
									<div class="article-author-side">
										 {% include _author-bio.html %}
									</div>
									<article>
										 <h1>{{ page.title }}</h1>
										 <div class="article-wrap">
												{{ content }}


												<!-- PREPRINTS -->
												
												<!-- <h4 style="margin-bottom:0px;padding-top:10px;">Pre-print Papers</h4> -->

												<!-- <ul class="biblist"> -->



												<!-- </ul> -->
											



												<!-- JOURNAL PUBLICATIONS -->
												<h4 style="margin-bottom:0px;padding-top:10px;">Journal Publications</h4>

												<ul class="biblist">

<!-- Item: Jing2022 -->
<li ><p>
Ran Jing, Irene Scarfo, <b>Mohamad Ali Najia</b>, Edroaldo Lummertz da Rocha, Areum Han, Michael Sanborn, Trevor Bingham, Caroline Kubaczka, Deepak K. Jha, Marcelo Falchetti, Thorsten M. Schlaeger, Trista E. North, Marcela V. Maus and George Q. Daley
<br><b>EZH1 repression generates mature iPSC-derived CAR T cells with enhanced antitumor activity</b><br>
<i>Cell Stem Cell</i>, vol. 29, pp. 1181-1196.e6, August 2022.
<br />
<a href="javascript:toggleBibtex('Jing2022')">[BibTeX]</a>
<a href="https://www.cell.com/cell-stem-cell/pdf/S1934-5909(22)00295-8.pdf" target="_blank">[PDF]</a> <a href="https://pubmed.ncbi.nlm.nih.gov/35931029/"  target="_blank">[PubMed]</a>
<br><img src="{{ site.url }}/images/Jing2022_CellStemCell_Cover.jpg" alt="Jing2022_CellStemCell_Cover"></br>
</p>
<div id="bib_Jing2022" class="bibtex noshow">
<pre>
@article{Jing2022,
  author = {Jing, Ran and Scarfo, Irene and Najia, Mohamad Ali and Lummertz da Rocha, Edroaldo and Han, Areum and Sanborn, Michael and Bingham, Trevor and Kubaczka, Caroline and Jha, Deepak K. and Falchetti, Marcelo and Schlaeger, Thorsten M. and North, Trista E. and Maus, Marcela V. and Daley, George Q.},
  title = {EZH1 repression generates mature iPSC-derived CAR T cells with enhanced antitumor activity.},
  journal = {Cell Stem Cell},
  year = {2022},
  volume = {29},
  pages = {1181-1196.e6},
  doi = {https://doi.org/10.1016/j.stem.2022.06.014}
}
</pre>
</div>
</li>


<!-- Item: LummertzdaRocha2022 -->
<li ><p>
Edroaldo Lummertz da Rocha*, Caroline Kubaczka*, Wade W. Sugden, <b>Mohamad Ali Najia</b>, Ran Jing, Arianna Markel, Zachary C. LeBlanc, Rafael Dos Santos Peixoto, Marcelo Falchetti, James J. Collins, Trista E. North and George Q. Daley
<br><b>CellComm infers cellular crosstalk that drives haematopoietic stem and progenitor cell development</b><br>
<i>Nature Cell Biology</i>, vol. 24, pp. 579-589, April 2022.
<br />
<a href="javascript:toggleBibtex('LummertzdaRocha2022')">[BibTeX]</a>
<a href="https://www.nature.com/articles/s41556-022-00884-1.pdf" target="_blank">[PDF]</a> <a href="https://pubmed.ncbi.nlm.nih.gov/35414020/"  target="_blank">[PubMed]</a>
</p>
<div id="bib_LummertzdaRocha2022" class="bibtex noshow">
<pre>
@article{LummertzdaRocha2022,
  author = {Lummertz da Rocha, Edroaldo and Kubaczka, Caroline and Sugden, Wade W. and Najia, Mohamad Ali and Jing, Ran and Markel, Arianna and LeBlanc, Zachary C. and Dos Santos Peixoto, Rafael and Falchetti, Marcelo and Collins, James J. and North, Trista E. and Daley, George Q.},
  title = {CellComm infers cellular crosstalk that drives haematopoietic stem and progenitor cell development.},
  journal = {Nature Cell Biology},
  year = {2022},
  volume = {24},
  pages = {579-589},
  doi = {https://doi.org/10.1038/s41556-022-00884-1}
}
</pre>
</div>
</li>


<!-- Item: Soto2021 -->
<li ><p>
Rebecca A. Soto, <b>Mohamad Ali T. Najia</b>, Mariam Hachimi, Jenna M. Frame, Gabriel A. Yette, Edroaldo Lummertz da Rocha, Kryn Stankunas, George Q. Daley and Trista E. North
<br><b>Sequential regulation of hemogenic fate and hematopoietic stem and progenitor cell formation from arterial endothelium by Ezh1/2</b><br>
<i>Stem Cell Reports</i>, vol. 16, pp. 1718-1734, July 2021.
<br />
<a href="javascript:toggleBibtex('Soto2021')">[BibTeX]</a>
<a href="https://reader.elsevier.com/reader/sd/pii/S2213671121002654?token=092394B59800403484F7694FF8A2541A1EC5DF204D8D86372A5ABB871E131F5C740E81D98056C10BF650D98047A3AAA8&originRegion=us-east-1&originCreation=20230313185913" target="_blank">[PDF]</a> <a href="https://pubmed.ncbi.nlm.nih.gov/34143974/"  target="_blank">[PubMed]</a>
</p>
<div id="bib_Soto2021" class="bibtex noshow">
<pre>
@article{Soto2021,
  author = {Soto, Rebecca A. and Najia, Mohamad Ali T. and Hachimi, Mariam and Frame, Jenna M. and Yette, Gabriel A. and Lummertz da Rocha, Edroaldo and Stankunas, Kryn and Daley, George Q. and North, Trista E.},
  title = {Sequential regulation of hemogenic fate and hematopoietic stem and progenitor cell formation from arterial endothelium by Ezh1/2.},
  journal = {Stem Cell Reports},
  year = {2021},
  volume = {16},
  pages = {1718-1734},
  doi = {https://doi.org/10.1016/j.stemcr.2021.05.014}
}
</pre>
</div>
</li>


<!-- Item: Singh2018 -->
<li ><p>
Robin Singh, Alex Jaffe, Galit H. Frydman, <b>Mohamad Ali Toufic Najia</b>, Zijun Wei, Jason Yang and Maulik D. Majmudar
<br><b>Noninvasive Assessment of Jugular Venous Pressure via Force-Coupled Single Crystal Ultrasound</b><br>
<i>IEEE Transactions on Biomedical Engineering</i>, vol. 65, pp. 1705-1710, August 2018.
<br />
<a href="javascript:toggleBibtex('Singh2018')">[BibTeX]</a>
<a href="https://ieeexplore.ieee.org/document/8089451" target="_blank">[PDF]</a> <a href="https://pubmed.ncbi.nlm.nih.gov/29989920/"  target="_blank">[PubMed]</a>
</p>
<div id="bib_Singh2018" class="bibtex noshow">
<pre>
@article{Singh2018,
  author = {Singh, Robin and Jaffe, Alex and Frydman, Galit H. and Najia, Mohamad Ali Toufic and Wei, Zijun and Yang, Jason and Majmudar, Maulik D.},
  title = {Noninvasive Assessment of Jugular Venous Pressure via Force-Coupled Single Crystal Ultrasound.},
  journal = {IEEE Transactions on Biomedical Engineering},
  year = {2018},
  volume = {65},
  pages = {1705-1710},
  doi = {https://doi.org/10.1109/TBME.2017.2767828}
}
</pre>
</div>
</li>


<!-- Item: Wilson2014 -->
<li ><p>
Jenna L. Wilson, <b>Mohamad Ali Najia</b>, Rabbia Saeed and Todd C. McDevitt,
<br><b>Alginate encapsulation parameters influence the differentiation of microencapsulated embryonic stem cell aggregates</b><br>
<i>Biotechnology and Bioengineering</i>, vol. 111, pp. 618-631, March 2014.
<br />
<a href="javascript:toggleBibtex('Wilson2014')">[BibTeX]</a>
<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4163549/pdf/nihms624866.pdf" target="_blank">[PDF]</a> <a href="https://pubmed.ncbi.nlm.nih.gov/24166004/"  target="_blank">[PubMed]</a>
</p>
<div id="bib_Wilson2014" class="bibtex noshow">
<pre>
@article{Wilson2014,
  author = {Wilson, Jenna L. and Najia, Mohamad Ali and Saeed, Rabbia and McDevitt, Todd C.},
  title = {Alginate encapsulation parameters influence the differentiation of microencapsulated embryonic stem cell aggregates.},
  journal = {Biotechnology and Bioengineering},
  year = {2014},
  volume = {111},
  pages = {618-631},
  doi = {https://doi.org/10.1002/bit.25121}
}
</pre>
</div>
</li>
													 
												</ul  >


												<!-- PATENTS -->
												<h4 style="margin-bottom:0px;padding-top:10px;">US Patents & Patent Applications</h4>

												<ul class="biblist">
													<!-- Item: Borrajo2022 -->
													 <li >
															<p>
																 Jacob Borrajo, Paul Blainey, <b>Mohamad Najia</b>, Hong Anh Anna Le, Funien Tsai<br>
																 <b>Affinity-based multiplexing for live-cell monitoring of complex cell populations</b><br>
																 US 2022/0228168 A1, 2022.
																 <br />
																 <a href="javascript:toggleBibtex('Borrajo2022')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/4d/f0/b6/798eeb48f4c349/US20220228168A1.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Borrajo2022" class="bibtex noshow">
																 <pre>
@patent{Borrajo2022,
	author = {Jacob Borrajo, Paul Blainey, Mohamad Najia, Hong Anh Anna Le, Funien Tsai},
	title = {Affinity-based multiplexing for live-cell monitoring of complex cell populations},
	year = {2022},
	number = {US 2022/0228168 A1}
}
</pre>
															</div>
													 </li>






													<!-- Item: Blainey2022 -->
													 <li >
															<p>
																 Paul Blainey, Jacob Borrajo, <b>Mohamad Najia</b>, Hong Anh Anna Le<br>
																 <b>Construct for continuous monitoring of live cells</b><br>
																 US 2022/0195514 A1, 2022.
																 <br />
																 <a href="javascript:toggleBibtex('Blainey2022')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/12/81/2f/a9c1cb4cff1bfd/US20220195514A1.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Blainey2022" class="bibtex noshow">
																 <pre>
@patent{Blainey2022,
	author = {Paul Blainey, Jacob Borrajo, Mohamad Najia, Hong Anh Anna Le},
	title = {Construct for continuous monitoring of live cells},
	year = {2022},
	number = {US 2022/0195514 A1}
}
</pre>
															</div>
													 </li>




													<!-- Item: Frydman2021 -->
													 <li >
															<p>
																 Galit Hocsman Frydman, Alexander Tyler Jaffe, Maulik D. Majmudar, <b>Mohamad Ali Toufic Najia</b>, Robin Singh, Zijun Wei, Jason Yang, Brian W. Anthony, Athena Yeh Huang, Aaron Michael Zakrzewski<br>
																 <b>Non-invasive assessment of anatomic vessels</b><br>
																 US 11,096,654 B2, 2021.
																 <br />
																 <a href="javascript:toggleBibtex('Frydman2021')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/63/fb/fe/cf6046026c916f/US11096654.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Frydman2021" class="bibtex noshow">
																 <pre>
@patent{Frydman2021,
	author = {Galit Hocsman Frydman, Alexander Tyler Jaffe, Maulik D. Majmudar, Mohamad Ali Toufic Najia, Robin Singh, Zijun Wei, Jason Yang, Brian W. Anthony, Athena Yeh Huang, Aaron Michael Zakrzewski},
	title = {Non-invasive assessment of anatomic vessels},
	year = {2021},
	number = {US 11,096,654 B2}
}
</pre>
															</div>
													 </li>



													 <!-- Item: Blainey2020 -->
													 <li >
															<p>
																 Paul Blainey, Jacob Borrajo, <b>Mohamad Najia</b>, Atray Dixit<br>
																 <b>Constructs for continuous monitoring of live cells</b><br>
																 US 2020/0017861 A1, 2020.
																 <br />
																 <a href="javascript:toggleBibtex('Blainey2020')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/5a/3f/b4/f8ef2c147d18f8/US20200017861A1.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Blainey2020" class="bibtex noshow">
																 <pre>
@patent{Blainey2020,
	author = {Paul Blainey, Jacob Borrajo, Mohamad Najia, Atray Dixit},
	title = {Constructs for continuous monitoring of live cells},
	year = {2020},
	number = {US 2020/0017861 A1}
}
</pre>
															</div>
													 </li>





													 <!-- Item: Kim2019 -->
													 <li >
															<p>
																 Denise Sujin Kim, Jacquelyn Borinski, Andrew Kolpitcke, <b>Mohamad Ali Najia</b>, Drew Padilla<br>
																 <b>Tissue-cutting and -sealing forceps</b><br>
																 US 10,213,200 B2, 2019.
																 <br />
																 <a href="javascript:toggleBibtex('Kim2019')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/3d/14/e6/f3756427a97f28/US10213200.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Kim2019" class="bibtex noshow">
																 <pre>
@patent{Kim2019,
	author = {Denise Sujin Kim, Jacquelyn Borinski, Andrew Kolpitcke, Mohamad Ali Najia, Drew Padilla},
	title = {Tissue-cutting and -sealing forceps},
	year = {2019},
	number = {US 10,213,200 B2}
}
</pre>
															</div>
													 </li>
													 
													 
												</ul>

												
												<!-- THESES -->
												<h4 style="margin-bottom:0px;padding-top:20px;">Written Theses</h4>
												
												<ul class="biblist">
													 <!-- Item: Najia2023 -->
													 <li >
															<p>
																 PhD thesis<br>
																 <b>Transposable elements and the regulatory logic of hematopoietic differentiation</b><br>
																 Massachusetts Institute of Technology, 2023
																 <br />
																 <a href="javascript:toggleBibtex('Najia2023')">[BibTeX]</a>
																 <a href=""  target="_blank">[PDF]</a>
															</p>
															<div id="bib_Najia2023" class="bibtex noshow">
																 <pre>
@phdthesis{Najia2023,
	author = {Mohamad Ali Najia},
	title = {Transposable elements and the regulatory logic of hematopoietic differentiation},
	school = {Massachusetts Institute of Technology},
	year = {2023}
}
</pre>
															</div>
													 </li>
													 
												</ul>

										 </div>

										 <!-- /.article-wrap -->
										 {% if site.disqus_shortname and page.comments %}
										 <section id="disqus_thread"></section>
										 <!-- /#disqus_thread -->
										 {% endif %}
									</article>
							 </div>
							 <!-- /#index -->
							 <div class="footer-wrap">
									<footer>
										 {% include _footer.html %}
									</footer>
							 </div>
							 <!-- /.footer-wrap -->
							 {% include _scripts.html %}          
						</body>
				 </html>