<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
	 <![endif]-->
	 <!--[if (IE 7)&!(IEMobile)]>
	 <html class="no-js lt-ie9 lt-ie8" lang="en">
			<![endif]-->
			<!--[if (IE 8)&!(IEMobile)]>
			<html class="no-js lt-ie9" lang="en">
				 <![endif]-->
				 <!--[if gt IE 8]><!--> 
				 <html class="no-js" lang="en">
						<!--<![endif]-->
						<head>
							 {% include _head.html %}
						</head>
						<body class="page">
							 <style>
									/*********************************
									The list of publication items
									*********************************/
									/* The list of items */
									.biblist { }
									/* The item */
									.biblist li { }
									/* You can define custom styles for plstyle field here. */
									/*************************************
									The box that contain BibTeX code
									*************************************/
									div.noshow { display: none; }
									div.bibtex {
									margin-right: 0%;
									margin-top: 1.2em;
									margin-bottom: 1em;
									border: 1px solid silver;
									padding: 0em 1em;
									background: #ffffee;
									}
									div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}
							 </style>
							 <script type="text/javascript">
									<!--
									// Toggle Display of BibTeX
									function toggleBibtex(articleid) {
											var bib = document.getElementById('bib_'+articleid);
											if (bib) {
													if(bib.className.indexOf('bibtex') != -1) {
															bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
													}
											} else {
													return;
											}
									}
									-->
							 </script>
							 {% include _browser-upgrade.html %}
							 {% include _navigation.html %}
							 {% if page.image.feature %}
							 <div class="image-wrap">
									<img src=
									{% if page.image.feature contains 'http://' %}
									"{{ page.image.feature }}"
									{% elsif page.image.feature contains 'https://' %}
									"{{ page.image.feature }}"
									{% else %}
									"{{ site.url }}/images/{{ page.image.feature }}"
									{% endif %}
									alt="{{ page.title }} feature image">
									{% if page.image.credit %}
									<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
									{% endif %}
							 </div>
							 <!-- /.image-wrap -->
							 {% endif %}
							 <div id="main" role="main">
									<div class="article-author-side">
										 {% include _author-bio.html %}
									</div>
									<article>
										 <h1>{{ page.title }}</h1>
										 <div class="article-wrap">
												{{ content }}


												<!-- JOURNAL PUBLICATIONS -->
												<h4 style="margin-bottom:0px;padding-top:10px;">Journal Publications</h4>

												<ul class="biblist">
													 <!-- Item: Kuznetsova2020 -->
													 <li >
															<p>
																 A. Kuznetsova, H. Rom, N. Alldrin, J. Uijlings, I. Krasin, J. Pont-Tuset, S. Kamali, S. Popov, M. Malloci, A. Kolesnikov, T. Duerig, and V. Ferrari
																 <br><b>The Open Images Dataset V4: Unified image classification, object detection, and visual relationship detection at scale</b><br>
																 <i>International Journal on Computer Vision (IJCV)</i>, vol. 128, no. 7, pp. 1956-1981, 2020.
																 <br />
																 <a href="javascript:toggleBibtex('Kuznetsova2020')">[BibTeX]</a>
																 <a href="https://arxiv.org/abs/1811.00982" target="_blank">[PDF]</a> <a href="https://storage.googleapis.com/openimages/web/index.html"  target="_blank">[Project Page]</a>
															</p>
															<div id="bib_Kuznetsova2020" class="bibtex noshow">
																 <pre>
@article{Kuznetsova2020,
	author = {Alina Kuznetsova and Hassan Rom and Neil Alldrin and Jasper Uijlings and Ivan Krasin and Jordi Pont-Tuset and Shahab Kamali and Stefan Popov and Matteo Malloci and Alexander Kolesnikov and Tom Duerig and Vittorio Ferrari},
	title = {The Open Images Dataset V4: Unified image classification, object detection, and visual relationship detection at scale},
	year = {2020},
	number = {7},
	volume = {128},
	pages={1956-1981},
	journal = {IJCV}
}
</pre>
															</div>
													 </li>
													 
													 

												</ul  >


												<!-- PATENTS -->
												<h4 style="margin-bottom:0px;padding-top:10px;">US Patents & Patent Applications</h4>

												<ul class="biblist">
													<!-- Item: Borrajo2022 -->
													 <li >
															<p>
																 Jacob Borrajo, Paul Blainey, Mohamad Najia, Hong Anh Anna Le, Funien Tsai<br>
																 <b>Affinity-based multiplexing for live-cell monitoring of complex cell populations</b><br>
																 US 2022/0228168 A1, 2022.
																 <br />
																 <a href="javascript:toggleBibtex('Borrajo2022')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/4d/f0/b6/798eeb48f4c349/US20220228168A1.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Borrajo2022" class="bibtex noshow">
																 <pre>
@patent{Borrajo2022,
	author = {Jacob Borrajo, Paul Blainey, Mohamad Najia, Hong Anh Anna Le, Funien Tsai},
	title = {Affinity-based multiplexing for live-cell monitoring of complex cell populations},
	year = {2022},
	number = {US 2022/0228168 A1}
}
</pre>
															</div>
													 </li>






													<!-- Item: Blainey2022 -->
													 <li >
															<p>
																 Paul Blainey, Jacob Borrajo, Mohamad Najia, Hong Anh Anna Le<br>
																 <b>Construct for continuous monitoring of live cells</b><br>
																 US 2022/0195514 A1, 2022.
																 <br />
																 <a href="javascript:toggleBibtex('Blainey2022')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/12/81/2f/a9c1cb4cff1bfd/US20220195514A1.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Blainey2022" class="bibtex noshow">
																 <pre>
@patent{Blainey2022,
	author = {Paul Blainey, Jacob Borrajo, Mohamad Najia, Hong Anh Anna Le},
	title = {Construct for continuous monitoring of live cells},
	year = {2022},
	number = {US 2022/0195514 A1}
}
</pre>
															</div>
													 </li>




													<!-- Item: Frydman2021 -->
													 <li >
															<p>
																 Galit Hocsman Frydman, Alexander Tyler Jaffe, Maulik D. Majmudar, Mohamad Ali Toufic Najia, Robin Singh, Zijun Wei, Jason Yang, Brian W. Anthony, Athena Yeh Huang, Aaron Michael Zakrzewski<br>
																 <b>Non-invasive assessment of anatomic vessels</b><br>
																 US 11,096,654 B2, 2021.
																 <br />
																 <a href="javascript:toggleBibtex('Frydman2021')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/63/fb/fe/cf6046026c916f/US11096654.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Frydman2021" class="bibtex noshow">
																 <pre>
@patent{Frydman2021,
	author = {Galit Hocsman Frydman, Alexander Tyler Jaffe, Maulik D. Majmudar, Mohamad Ali Toufic Najia, Robin Singh, Zijun Wei, Jason Yang, Brian W. Anthony, Athena Yeh Huang, Aaron Michael Zakrzewski},
	title = {Non-invasive assessment of anatomic vessels},
	year = {2021},
	number = {US 11,096,654 B2}
}
</pre>
															</div>
													 </li>



													 <!-- Item: Blainey2020 -->
													 <li >
															<p>
																 Paul Blainey, Jacob Borrajo, Mohamad Najia, Atray Dixit<br>
																 <b>Constructs for continuous monitoring of live cells</b><br>
																 US 2020/0017861 A1, 2020.
																 <br />
																 <a href="javascript:toggleBibtex('Blainey2020')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/5a/3f/b4/f8ef2c147d18f8/US20200017861A1.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Blainey2020" class="bibtex noshow">
																 <pre>
@patent{Blainey2020,
	author = {Paul Blainey, Jacob Borrajo, Mohamad Najia, Atray Dixit},
	title = {Constructs for continuous monitoring of live cells},
	year = {2020},
	number = {US 2020/0017861 A1}
}
</pre>
															</div>
													 </li>





													 <!-- Item: Kim2019 -->
													 <li >
															<p>
																 Denise Sujin Kim, Jacquelyn Borinski, Andrew Kolpitcke, Mohamad Ali Najia, Drew Padilla<br>
																 <b>Tissue-cutting and -sealing forceps</b><br>
																 US 10,213,200 B2, 2019.
																 <br />
																 <a href="javascript:toggleBibtex('Kim2019')">[BibTeX]</a>
																 <a href="https://patentimages.storage.googleapis.com/3d/14/e6/f3756427a97f28/US10213200.pdf" target="_blank">[PDF]</a>
															</p>
															<div id="bib_Kim2019" class="bibtex noshow">
																 <pre>
@patent{Kim2019,
	author = {Denise Sujin Kim, Jacquelyn Borinski, Andrew Kolpitcke, Mohamad Ali Najia, Drew Padilla},
	title = {Tissue-cutting and -sealing forceps},
	year = {2019},
	number = {US 10,213,200 B2}
}
</pre>
															</div>
													 </li>
													 
													 
												</ul>

												
												<!-- THESES -->
												<h4 style="margin-bottom:0px;padding-top:20px;">Written Theses</h4>
												
												<ul class="biblist">
													 <!-- Item: Najia2023 -->
													 <li >
															<p>
																 PhD thesis<br>
																 <b>Transposable elements and the regulatory logic of hematopoietic differentiation</b><br>
																 Massachusetts Institute of Technology, 2023
																 <br />
																 <a href="javascript:toggleBibtex('Najia2023')">[BibTeX]</a>
																 <a href=""  target="_blank">[PDF]</a>
															</p>
															<div id="bib_Najia2023" class="bibtex noshow">
																 <pre>
@phdthesis{Najia2023,
	author = {Mohamad Ali Najia},
	title = {Transposable elements and the regulatory logic of hematopoietic differentiation},
	school = {Massachusetts Institute of Technology},
	year = {2023}
}
</pre>
															</div>
													 </li>
													 
												</ul>

										 </div>

										 <!-- /.article-wrap -->
										 {% if site.disqus_shortname and page.comments %}
										 <section id="disqus_thread"></section>
										 <!-- /#disqus_thread -->
										 {% endif %}
									</article>
							 </div>
							 <!-- /#index -->
							 <div class="footer-wrap">
									<footer>
										 {% include _footer.html %}
									</footer>
							 </div>
							 <!-- /.footer-wrap -->
							 {% include _scripts.html %}          
						</body>
				 </html>